<a href="https://colab.research.google.com/github/Raghu0715/Python_leanings/blob/main/my_python_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basics of Python

In [ ]:
#what is python?
''' 1.general purpose programming language
    2. high- level prog language
    3.object oriented programming language
    4.dynamically typed programming language
    5.interpretted programming language.'''
#Wy we require comments?
#for the better understanding purpose

In [ ]:
#what statistically typed programming language?
#in statistically typed programming language we need to define data type for varaibles.
#ex:- java,c++

In [ ]:
#what is low- level programming language?
#low- level programming language are machine friendly languages
#In this the code is changing to binaray form fro :- [010101010]
#More lines of code
#c, c++

In [ ]:
#what is High-level programming language?
#Human friendly language
#the codes are not changing in to binaray form
#low lines of codes
#it is like an english language

In [ ]:
#Print "Hello World" in python?
#i am using "print()" to display my output
print("hello world!")

hello world!

#Numerical Data Types

In [ ]:
#what are all numerical data types?
#There 3 types on numerical dtypes.
#1.integer:- Awhole number either +ve or -ve without decimal point.
print(10)
print(5)
print(-10)
#find the data type of above integer?
#i am using "type()" to find the data type
print(type(10))
print(type(5))
print(type(-5))

10
5
-10
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#2.Float:- A whole number either +ve or -ve with decimal point
print(2.0)
print(5.326)
#print type of above integer?
print(type(2.0))
print(type(-2.456))

2.0
5.326
<class 'float'>
<class 'float'>

In [ ]:
#complex Number:-A real number with its imaginary part is know as complex number.
print(2 +4j)
print(type(2+4j))
print(3+5j)
print(type(3+5j))
#what is "j"?
#j ---> iota-->value of "j" is root (-1)

(2+4j)
<class 'complex'>
(3+5j)
<class 'complex'>

#Arthamatic operators

In [ ]:
#there are 7 arthamatic operators
#1. addition---> +
print(10 + 5)
#2. substarction--> -
print(10 - 5)
#3. multiplication --->*
print(10 * 5)
#4. division---> /
print(10 / 5)

15
5
50
2.0

In [ ]:
#why we are getting default data type for divion is float?
"""when your doing division some times if you want extract, exact
co-efficient you may get decimal values instead defining the data type
we are getting float data type"""

In [ ]:
#Modulus:- ---> %--> reaminder of the the divison.
print(10 % 5)
print(type(10%5))

0
<class 'int'>

In [ ]:
#exponential:- --> ** --> to the power off-->
print(2 ** 3)
print(10 ** 5)
print(type(10 ** 5))

8
100000
<class 'int'>

In [ ]:
#Floor Division:- --> //
#it's a type of division where it ignores all the values after decimal in co-efficient
print(10 / 3)
print(10 // 3)

3.3333333333333335
3

#Round()

In [1]:
#what is round()?
#rounding neares values

print(round(10.234))
#when the values are below 0.5 then it will give the base value
print(2.536)
print(round(2.536))

10
2.536
3

In [2]:
#Print specific decimal "ndigits" from the value 2.53476?
#excepect output:- 2.53
#use round()---> round(number,ndigits)
print(round(2.56476,2))

2.56

In [ ]:
#what is floor value and what is ceiling values?
#floor value:- these are the values before the decimal numbers
#ceiling values:- these are the upcoming values or nearest values

#Types of errors
#variables.
#input()
#escape characters


#12-072024

In [ ]:
#Types of errors>
#there are two types of errors
#1.syntax  error
#2. logical errors

In [3]:
#1.sytax error:- Breaking the rules of programming language can rise the syntax error
print(2 ** 3)

8

In [ ]:
#Logical errors:- except syntaxt error all the errors comes under logical error
#ex:- name error,recurrsive error, attribute error, indentation error.

**Variables**

In [ ]:
#what is variables?
#Varibles are containers  where we can store valuable information and reuse it.
#what is purpose of varaibles?
#is to reduce the memory size.
#how to create the varibles?
x = 40
son_age = x/2
print(son_age)
#how we are going to access the varaibles?
#print()

20.0

In [ ]:
#Python is an interpreted prgrommaing language?
#means it will execute the code line by line
x = 10
y = 5
x = 60
y = 30
print(x + y)

In [ ]:
#take two varibles of integeres and apply all the arthamatic operations?

In [ ]:
#python is a dynamically typed programming language?
#we are not defining the dtype for varaibles python can read dtypes automatically
x= 10
print(type(x))
y ="hello world"
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#Rules for creating varaibles.
#1. always start creating the varibles with alphabets.
'''a ="hello world"
print(a)'''
#2. don't start creating the varibles with numbers
#  2 = "hello wordl"
#  print(2)
"""3. if you follow rule 1 and 2 the you can start creating varibles
with alphabets inbetween you include numbers""

#4. dont give spaces in between the varaibles
#5. don't use special characters. --->$,%,#,@
#6. you start creating varaibles with (_) special character
#7. always prefer varaibles in lowercase

hello world

In [ ]:
#python is a case sensitive langauage?
x = "hello word"
print(X)

In [ ]:
#1. Assign multiple values to the multiple varaibles and print in seprate line
a,b,c = 10,20,30
# print(a)
# print(b)
# print(c)
#use "sep=\n" operator to print values in separate line
print(a,b,c, sep="\n")

10
20
30

In [ ]:
#Assign same value to the multiple varibles and print in separate line?
a = b = c = 10
print(a,b,c,sep="\n")

10
10
10

In [ ]:
a = 10
b = 10
c = 10
print(a,b,c,sep="\n")

10
10
10

In [ ]:
#Python Identifier is the name we give to identify a variable, function, class, module or other object.

#Input()

In [ ]:
#what is input()?
#it intakes every information/data/value given by user
#where we have to use this input()?
#when user is giving multiple information/data/value to the same varaibles then we have to use input().
#why we are using input()?(or) what is the purpose of using the input()?
#to maintain the memory

In [ ]:
#How to create input() and how to access the input()
#we are using input function along with a varaible name to create input()
#we are using print() to access the input()

In [ ]:
# give message inside the input function.
a = input("enter your number ")
print(a)
print(type(a))
#the default data type for input() is string.
#why default data type for input() is string?
'''user may give different types of information/data/value, The input function has
built in such a way so it can take any kind of informartion
so that's why default data type is string.'''

enter your number 10
10
<class 'str'>

#Strings

In [4]:
#what is strings?
#collection multiple characters that are written inside quotes.--(" ") or(' ')
#How can you denote or write a multiline string.?
print("""hi
  iam using pyhton multiline string
  this is my 1st execution """)

hi
  iam using pyhton multiline string
  this is my 1st execution

In [ ]:
#string is a collection mutliple characters, Each character in string can be accessible.
#How can we access each character in a string?
#we are using "Indexing" and "slicing operator" to access the specific characters in a string

In [ ]:
#indexing:- positional number of each character in a string
#these indexing can be starts with zero
#Slicing Operator: ---> [] --> it is use to break the string. also used to retrive substring from the main string.

In [ ]:
#what is substring?
#is nothing but a part of main string

In [ ]:
x = "Hello world!"
print(x)

Hello world!

In [ ]:
#how to find how many indexs and how to find length of a string?
x = "Hello world!"
#to find the length of string we are using len function-->len()
#length can be start from the 1
print(len(x))
#if you want to find the total index sunstract length - 1
print(len(x)-1)

12
11

In [ ]:
#[start_index value#]
x = "Hello world!"
print(x[0])
print(x[6])

H
w

In [ ]:
#if i want range of characters  for example print "llo wo" from above string?
#[start_index value,end_indexvalue]
print(x[2:8])  #end--> always ---n + 1
#when your print range of character by using slicing operation the end character, if u want to display then add it with 1

llo wo

In [ ]:
#print "world" from above string?
print(x[6:11])

world

#13-07-2024

["start:end:step"] --slicing

negative indexing

string methods

string formatting methods

escape characters

In [6]:
#print characters of the even position for the given string "Hello world!"
#HL0WRD
#["start:end:step"]
a = "Hello world!"
print(a[0:12:2])

Hlowrd

In [ ]:
#Prind odd index position characters?
print(a[1:12:2])

el ol!

**#Defualt indexing**

In [ ]:
#what is default indexing?
"""during slicing operation if you won't specify  the index positional numbers then python can
Take 0 as the start postion number and length measure as the end position number"""

Hello world!

In [9]:
print(a[1::2]) #-->odd position characters
print(a[::1]) #-->overall string
print(a[::2]) #even position characters
#default the step value can be 1

el ol!
Hello world!
Hlowrd

**Negative indexing**

In [ ]:
#what is -ve indexing?
#indexing the postional characters from right to left(reverse direction) by using -ve numbers
#-ve indexing can be starts with -1
#By using the -ve indexing we can access the characters in reverse direction.
s = "Hello world!"
#[start]
#print the w by using -ve indexing?
print(s[-6])

w

In [ ]:
#Print range of characters in -ve indexing?
#world
print(a[-6:-1])

world

In [ ]:
#reverse a string "hello word!"
#!drow olleh
#[start:end:step]
print(a[-1:-13:-1])

!dlrow olleH

In [ ]:
print(a[::-1])

!dlrow olleH

In [ ]:
#check weather the given string is palindrome or not?
a = input("enter your string: ")
print(a[::-1])

enter your string: madam
madam

**String methods**

In [ ]:
#what are all methods applicable on given string?
# use dir() it will tells you what are all the methods can be applicable for given string
#what is dir()?
#it returns what are all the methods applicable on given string

a = "hello world"
#to find methods use dir()
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [10]:
#important string methods
#1. capitalize()-----> is the method that changes a string's first character to uppercase while converting the rest to lowercase.
print(a.capitalize())  #-->o/p--> Hello wprld
#2.upper()----->t converts all the lowercase characters in the string into uppercase characters.
print(a.upper())  #-->o/p-->HELLO WORLD

Hello world!
HELLO WORLD!

In [ ]:
#3.lower()--->converting each uppercase character to lowercase.
a = "HELLO WORLD"
print(a.lower())

hello world

In [12]:
"""title()-----> a string method that is used to convert the first character of each word in a string to uppercase,
    while converting all other characters in each word to lowercase"""

#swapcase----->Swaps cases, lower case becomes upper case and vice versa.

#replace --->Returns a string where a specified value is replaced with a specified value

#strip----->Returns a trimmed version of the string

#rstrip----->Returns a right trim version of the string

#lstrip----->Returns a left trim version of the string

#Zfill----->Fills the string with a specified number of 0 values at the beginning

'title()-----> a string method that is used to convert the first character of each word in a string to uppercase,\n    while converting all other characters in each word to lowercase'

In [ ]:
a = "  helo world   "
print(a.strip())
print(a.lstrip())
print(a.rstrip())

helo world
helo world
  helo world

In [ ]:
a = "hello good morning"
print(a.replace("morning","afternoon"))

hello good afternoon

In [ ]:

#find----->Searches the string for a specified value and returns the position of where it was found
#zfill----->Fills the string with a specified number of 0 values at the beginning
#isalpha----->Returns True if all characters in the string are in the alphabet
#isalnum----->Returns True if all characters in the string are alphanumeric
#replace hello world with  "Hello UNIVERSE"?

In [ ]:
a = "hello i am practicing python daily 2 times"
print(a.isalpha())

False

In [14]:
a = "helloiam"
print(a.isalpha())

True

In [ ]:
b = "123456"
print(b.isalnum())

False

In [ ]:
b = "123456"
print(b.find("6")) #it returns the indexing position of the given string

5

In [ ]:
c = "hello word"
print(c.find("o"))

4

**String Formatting methods**

In [ ]:
#what is string formatting methods?
#It is defined as formmating method can takes an argument and place it over a placeholder{}.
#This can be three 3 types

age = 10
my = "my age is"
print(my,age)

my age is 10

In [ ]:
#string concatination
a = "Hello"
b = "World"
print(a +" "+b)

Hello World

In [ ]:
#1st format method. print formatting method
age = 10
my_age = "i am {} years old."
print(my_age.format(10))

i am 10 years old.

In [ ]:
#2nd string format method using format at end of the string
age = 10
my_age = "i am {} years old.".format(10)
print(my_age)

i am 10 years old.

In [ ]:
#3rd f'string format method':
age =10
my_age = f'i am {age} years old'
print(my_age)

i am 10 years old

In [ ]:
item_name = "Prodct A"
quantity = 10
price_each = 99.9
Notification = "your oreder for {} has confirmed at an price of {}, and quantity of {}, placed sucessfully!"
#ex-o/p--> your oreder for product A has confirmed at an price of 999.0, placed sucessfully!

print(Notification.format(item_name,price_each*quantity,quantity))

your oreder for Prodct A has confirmed at an price of 999.0, and quantity of 10, placed sucessfully!

In [ ]:
item_name = "Prodct A"
quantity = 10
price_each = 99.9
Notification = "your oreder for {} has confirmed at an price of {}, and quantity of {}, placed sucessfully.".format(item_name,price_each*quantity,quantity)
print(Notification)

your oreder for Prodct A has confirmed at an price of 999.0, and quantity of 10, placed sucessfully.

**Escape Characters**

In [ ]:
#what is escape characters?
#if you want to print illegal character in a string we have to use escape caracters
#---> use backward slash "\" before of illegal character next at the end also use "\" before illegal character

In [ ]:
a = "Dwyan \"The Rock\" Johnson."
print(a)

Dwyan "The Rock" Johnson.

#Loops

In [ ]:
#why we use loops?
#we use loops is to aviod duplicate codes

#how many types of codes we hare having python
#1. WET Code                       #Dry code
#W-->Write                         #D-dont
#E--> Everything                   #r--> repeat
#T---> Twice                       #y---> yourself
# Ex: C                              #ex :java, python

In [ ]:
#what are all the loops do we have in python?
#1.while loop
#2.for loop

In [ ]:
#1.while loops:-It runs set of instructions as long as condition remains returs

In [ ]:
target = 5
intial = 0
while intial < target:
  print("go up")
  print("go down")
  print("============rep completed=============")
  intial = intial + 1

go up
go down
============rep completed=============
go up
go down
============rep completed=============
go up
go down
============rep completed=============
go up
go down
============rep completed=============
go up
go down
============rep completed=============

In [ ]:
#write a program to run a lift?
target = int(input("eneter your floor number: "))
ground_floor = 0
while ground_floor <= target:
  print(f'you have reached {ground_floor} floor')
  ground_floor = ground_floor + 1

eneter your floor number: 4
you have reached 0 floor
you have reached 1 floor
you have reached 2 floor
you have reached 3 floor
you have reached 4 floor

In [ ]:
#write program to print 10 digits using while loop in separate lines?
a = int(input("enter the number"))
b = 0
while b <= a:
  print(b)
  b = b + 1

enter the number10
0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#write program to print odd digits using while loop in separate lines up to 10?

a = int(input("enter the number"))
b = 1
while b <= a:
  print(b)
  b = b + 2

enter the number10
1
3
5
7
9

In [ ]:
Number = [10,20,30,40,50]
#output:- 20,40,60,80,100
#write python program to print the multiples of 2
print(Number*2)

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [ ]:
#for loop:- it runs a set of instructions for each and every elemnt in a collection.
Number = [10,20,30,40,50]
for i in Number:
  print(i*2)

In [ ]:
#print "hello world" in separate lines by using loops?
x = "hello world!"
for letters in x:
  print(letters)

In [ ]:
#Is loops can run through each and every element in a collection.-->True

In [ ]:
#write program to print "hello world" upto length of string?
#if length is 11 print 11 times next if length is 15 print 15times?
n = "shahul"
for name in n:
  print(n)

In [ ]:
#Break Statement:-it terminates or breaks the loop once the condition satisfies
Number = [10,20,30,40,50]
#break the loop when iteration reaches to 30
for i in Number:
  print(i)
  if i == 30:
    break

10
20
30

In [ ]:
Number = [10,20,30,40,50]
#break the loop when iteration reaches to 30
for i in Number:
  if i == 30:
    break
  print(i)

30

In [ ]:
#if i use the print() before break why i am getting considered condtion value?
"""python is an  interpreted language means it will excecutes the code line by line,
when i have written print() before break. before executing condition the iteration
reaches to specific condition value so we can get that specific value along with the
iterated values in the output"""

In [ ]:
#continue:- It skips the particular iteration when the condition satisfies
a = [10,20,30,40,50,60,70,80,90]
for x in a:
  if x == 40:
    continue
  print(x)

In [ ]:
#can we do multiple conitues. yes
a = [10,20,30,40,50,60,70,80,90]
for x in a:
  if x in(30,50,70,80):
    continue
  print(x)

**Range**

In [ ]:
#write a program to create a range of numbers?
#range(end)
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#print "hello world" 6 times:
for i in range(6):
  print("hello world!")

In [ ]:
#range(start:end)
#write a program to print range of values from 10 to 40?
for i in range(10,41):
  print(i)

In [ ]:
#write a program to print even numbers from 1 to 20?
#range(start,end,step)
for i in range(2,21,2):
  print(i)

#conditional statements.

In [ ]:
#what is comparision operators and what is relational operators?
#Both are same
#1. equals to --> ==
#2. Not equals to ---> !=
#3. greater than ---> >
#4. less than ---> <
#5. greater than equals to ---> >=
#6. less than equals to --> <=

In [ ]:
print(10 == 10)

True

In [ ]:
#if -->elif---> else

In [ ]:
#print a number weater it is positive or negative or neutral.
number = int(input("enter the number: "))
if number > 0:
  print("+ve")
elif number == 0:
  print("neutral")
else:
  print("-ve")

enter the number: 90
+ve

In [ ]:
#Logical operators
#not:- it reverse your output
print(not(10 == 10))

False

In [ ]:
a = 10
b = 35
c = 90
#check the condition weather a is less than b and c
#b is less than c
if a < b and a < c and b < c:
  print("all the cinditions satisfied")
else:
  print("any one condition not satisfied")

all the cinditions satisfied

#Collections

In [ ]:
#4 types of collection in python
# 1. tuple
# 2. list
# 3. set
# 4. dictionary

In [ ]:
#1.List:- --> [] each element is separated with coma(,)
#-> is ordered, changable(mutable),and it allows duplicates

In [ ]:
#it allows duplicates
l1 = ["Apple","Banana","cherries","kiwi","watermelon","lemon","ornage","ornage","Apple"]
print(l1)
print(type(l1))

['Apple', 'Banana', 'cherries', 'kiwi', 'watermelon', 'lemon', 'ornage', 'ornage', 'Apple']
<class 'list'>

In [ ]:
#write programe and prove me that list can allow the duplicates?

In [ ]:
#list is ordered.
"""ordered :- the elements or values in the list is havinga aspecific index position number.
Based on this postion number we are accessing the data."""

In [ ]:
#How we can access the data in list?
#we can access it by using the slicing operator -->[] and index position numbers

In [ ]:
l2 = ["Apple","Banana","cherries","kiwi","watermelon","lemon","ornage"]
#what is the length of this list?
print(len(l2))

7

In [ ]:
#print or access apple from above list?
print(l2[0])
#print or access watermelon from above list?
print(l2[4])

Apple
watermelon

In [ ]:
#print the range of items "cherries","kiwi","watermelon","lemon"?
#[start:end]
print(l2[2:6])

['cherries', 'kiwi', 'watermelon', 'lemon']

In [ ]:
#Use the negative index and print the range of items?
l2 = ["Apple","Banana","cherries","kiwi","watermelon","lemon","ornage"]
print(l2[-3])

watermelon

In [ ]:
#watermelon","kiwi","cherries"
print(l2[-3:-6:-2])

['watermelon', 'cherries']

In [ ]:
#print the list of even position elements?
print(l2[::2])

['Apple', 'cherries', 'watermelon', 'ornage']

In [ ]:
#reverse the entire list?
print(l2[::-1])

['ornage', 'lemon', 'watermelon', 'kiwi', 'cherries', 'Banana', 'Apple']

In [ ]:
#can we convert a list in to string.
#write a program to convert the list into string.
l3= ['Apple', 'cherries', 'watermelon', 'ornage']
#using loops
for x in l3:
  print(x, end= " ")  #end:- when you donot need output in each line then you use "end=""
  #print(type(x))

Apple cherries watermelon ornage

In [ ]:
#list mutable or changable:-
#How can you define a collection is mutable?
#it can be defined in three ways
#change-->replace--> A-->B
#ADD the items in to the list
# deleting the items in the list

In [ ]:
#change-->replace--> items in list -->replacing in list can be done with the help of index position numbers.
l4 = ['ornage', 'lemon', 'watermelon', 'kiwi', 'cherries', 'Banana', 'Apple']
l4[3] = "starwberry"
print(l4)

['ornage', 'lemon', 'watermelon', 'starwberry', 'cherries', 'Banana', 'Apple']

In [ ]:
#if i want to replace the range of items in the list
l4[0:3] = "mango","pineapple","grapes"
print(l4)

['mango', 'pineapple', 'grapes', 'starwberry', 'cherries', 'Banana', 'Apple']

In [ ]:
l4[0:4] = "cashew", "dry grapes"   #it is accepetable inlist your replace index postion with items irrespective of number of position
print(l4)

['cashew', 'dry grapes', 'cherries', 'Banana', 'Apple']

In [ ]:
#ADD the items in to the list
#appen() by default it will add the items in the list in end position
l5= ['Apple', 'cherries', 'watermelon', 'ornage']
l5.append("muskmelon")
print(l5)

['Apple', 'cherries', 'watermelon', 'ornage', 'muskmelon']

In [ ]:
#if i want to add the element in particular index position.
#insert(index,'new item name')
l5.insert(3,'lemon') #note you cannot insert multiple values into the list
print(l5)

['Apple', 'cherries', 'lemon', 'lemon', 'watermelon', 'ornage', 'muskmelon']

In [ ]:
#extend:-
l = [10,20,30,40]
l2= ['Apple', 'cherries', 'lemon', 'lemon', 'watermelon', 'ornage', 'muskmelon']
l2.append(l)
#here when you give the 1st collection name the another collection elements is going to add in 1st collection
print(l2)
print(len(l2))

['Apple', 'cherries', 'lemon', 'lemon', 'watermelon', 'ornage', 'muskmelon', [10, 20, 30, 40]]
8

In [ ]:
l = [10,20,30,40]
l2= ['Apple', 'cherries', 'lemon', 'lemon']
l2.extend(l)
print(l2)

['Apple', 'cherries', 'lemon', 'lemon', 10, 20, 30, 40]

In [ ]:
l3= ['Apple', 'cherries', 'lemon', 'lemon'] #-->apple, cherries, [10,20],lemon,lemon
l4 = [10,20]
#write a progrm to add the elements to l3 at 2nd index position?
l3.insert(2,l4)
print(l3)

['Apple', 'cherries', [10, 20], 'lemon', 'lemon']

**delete or remove**

In [ ]:
#delete
l5 = ['Apple', 'cherries', [10, 20], 'lemon', 'lemon']
#delete cherries
l5.remove("cherries")
print(l5)

['Apple', [10, 20], 'lemon', 'lemon']

In [ ]:
#pop
l5.pop()

'lemon'

In [ ]:
print(l5)

['Apple', [10, 20], 'lemon']

In [ ]:
l5.pop(1)

[10, 20]

In [ ]:
print(l5)

['Apple', 'lemon']

In [ ]:
#delete
l6 = ['Apple', 'cherries', 'lemon', 'lemon', 'watermelon', 'ornage', 'muskmelon', [10, 20, 30, 40]]
#write to delete range of items in the above collection
#[2:5]
del l6[2:5] #this is to delete the range of numbers
print(l6)

['Apple', 'cherries', 'ornage', 'muskmelon', [10, 20, 30, 40]]

In [ ]:
del l6[2:5]
print(l6)

['Apple', 'cherries']

In [ ]:
del l6 #this will delete entire collection

In [ ]:
l = [10,20,30,40]
l2= ['Apple', 'cherries', 'lemon', 'lemon']
l2.update(l)
print(l2)
#Note:- "Update()" is not present in the list collection so you will rise attribute error.

In [ ]:
#sorting can be done based on "ascii" number
#ASCII:- american standard code for information inter change.

In [ ]:
l2 = ['mango',"Apple",'pineapple','grape','kiwi','watermelon']
#insert "apple" in index position "1"
l2.insert(1,'apple')
print(l2)

['mango', 'apple', 'Apple', 'pineapple', 'grape', 'kiwi', 'watermelon']

In [ ]:
#sort above list
l2.sort()  #default is ascending order (lower to higher ..A ascivalue is 65,)
print(l2)

['Apple', 'apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon']

In [ ]:
#sort above list in descending order.
l2.sort(reverse = True)
print(l2)

['watermelon', 'pineapple', 'mango', 'kiwi', 'grape', 'apple', 'Apple']

In [ ]:
#sort the above collection without case sensitivity?
l2.sort(key=str.lower)
print(l2)

['apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon']

In [ ]:
l = ['watermelon', 'pineapple', 'mango', 'kiwi', 'grape', 'apple', 'Apple']

l[0:4:3]="mango",'watermelon'
print(l)

['mango', 'pineapple', 'mango', 'watermelon', 'grape', 'apple', 'Apple']

#Tuple

In [ ]:
#Tuple: ---> ()
#ordered,immutable(unchangable),it allows the duplicates

In [ ]:
#tuple allow duplicates
t1 = ('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
print(t1)
print(len(t1))
print(type(t1))

('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
7
<class 'tuple'>

In [ ]:
#ordered:- accessing or displaying the specific data by using index position numbers.
# each element in the collection is having its index position number.
#[start]
t1 = ('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
#i want only mango from above collection
print(t1[4])

mango

In [ ]:
#print the range of elements in t1 -->[3:5] print the 5th item also?
t1 = ('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
print(t1[3:6])

('kiwi', 'mango', 'pineapple')

In [ ]:
#print even position elements in above collection?
t1 = ('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
print(t1[::2])   #start can be 0 and end can be len(t1) by default

('Apple', 'grape', 'mango', 'watermelon')

In [ ]:
#reverse the tuple
print(t1[::-1])

('watermelon', 'pineapple', 'mango', 'kiwi', 'grape', 'Apple', 'Apple')

In [ ]:
#Immutable:-
t1 = ('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
t1[1] = 'orange'
print(t1)
t1.pop()
print(t1)
#Note: -  tuples are immuatable so we cannot add or delete items from tuple

In [ ]:
print(dir(t1))
#'count', 'index'
# t1.count()
#t1.index()

In [ ]:
print(t1.count("kiwi"))
print(t1.index("mango"))

1
4

In [ ]:
#create a list by using tuple?

In [ ]:
#diff between list and tuple?
#why tuples are faster than list?

In [ ]:
t1 = ('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
print(type(t1))  #<class 'tuple'>
t_l = list(t1)
print(t_l)   #['Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon']
print(type(t_l)) #<class 'list'>

#lab

**list and tuple**

**set**

In [ ]:
#set --> {}
#unordered, immutable, it wont allow the duplicates.
#it wont allow the duplicates.
s1 = {1,2,3,4,5,6,1,2,3,4,5,5,6,6}
print(s1)

{1, 2, 3, 4, 5, 6}

In [ ]:
s2 = {"apple","lemon","apple","lemon"}
print(s2)
print(s2['apple'])

In [ ]:
#unordered-->we cannot access elements from the sets why because it doesnot have index position numbers.
print(s1[0])

In [ ]:
#sets are immutable_
#In sets we can able to add and delete the items/elements but we can replcae the the items/elements.
#why we can't swap or replace or change elements in sets?
#sets doesn't have index postions so wecannot replace the elements
#where the elements in sets are storing?
#elements are storing randomly in sets.

In [ ]:
#Adding elements in sets.
#what is the default index positions when you add elemnts/items in the sets.
#
s1.add(9) #add method can take only one argument
print(s1)

{1, 2, 3, 4, 5, 6, 9}

In [ ]:
#if i want to add multiple values or items in the set then?
#update
s3 = (10,11,12)
s1.update(s3)
print(s1)

{1, 2, 3, 4, 5, 6, 9, 10, 11, 12}

In [ ]:
s1.update("20","30","40")
print(s1)

{1, 2, 3, 4, 5, 6, 9, 10, 11, 12, '4', '3', '0', '2'}

In [ ]:
#remove elements from set.
s1.remove(1)
print(s1)

{2, 3, 4, 5, 6, 9, 10, 11, 12, '4', '3', '0', '2'}

In [ ]:
s1.remove('0') #remove() takes exactly one argument
print(s1)

{2, 3, 4, 5, 6, 9, 10, 11, 12, '3', '2'}

In [ ]:
#discard
s1.discard(2) #discard() takes exactly one argument
print(s1)

In [ ]:
#pop
s1.pop()
print(s1)
#why we are not using pop methods in sets?
#it removes the elements randomly.

{9, 10, 11, 12, '3', '2'}

In [ ]:
#delete
del s1

In [ ]:
#what is difference between discard and remove?
#when we use discard if the item exist or not in the collection it wont through any errors while execution
s = {2, 3, 4, 5, 6, 9, 10, 11, 12, '4', '3', '0', '2'}
s.discard(2)
print(s)

{3, 4, 5, 6, '3', '4', 9, 10, 11, 12, '0', '2'}

In [ ]:
#execute martix operation by using two sets
#union and intersection
s5 = {"a","b","c","d"}
s6 = {"d","e","f","g"}
s_add = s5.union(s6)
print(s_add)

{'d', 'f', 'g', 'a', 'b', 'e', 'c'}

In [ ]:
s_inter = s5.intersection(s6) # coomon elements will be printed
print(s_inter)

{'d'}

**dictionary**

In [ ]:
#what is dict?
#-->{}--> unordered, mutable,donot allow the duplicates.
#where the items stored in dictionaray.
#key:value

In [ ]:
#dictionary wont allow duplicates
d1 = {
    "Name":"shahul",
    "age" : 28,
    "education" : "Matsers in Ds",
    "education" : "B.tech"
}
print(d1)
#find the length of dict
print(len(d1))

{'Name': 'shahul', 'age': 28, 'education': 'B.tech'}
3

In [ ]:
d1 = {
    "Name":"shahul",
    "age" : 28,
    "education" : "Matsers in Ds",
    "education" : "B.tech",
    "fruits" : ['Mango','Cherries','Banana','Pineapple','oranges','Apple']
}

In [ ]:
#print "name from dictionary" d1?
print(d1['Name'])

shahul

In [ ]:
#print "fruits" from d1?
print(d1['fruits'])
#in this fruits access only banana
print(d1['fruits'][::-1])

['Mango', 'Cherries', 'Banana', 'Pineapple', 'oranges', 'Apple']
['Apple', 'oranges', 'Pineapple', 'Banana', 'Cherries', 'Mango']

In [ ]:
#I want to replace the value of "Name"
d1['Name'] ='Zenvius'
print(d1)

{'Name': 'Zenvius', 'age': 28, 'education': 'B.tech', 'fruits': ['Mango', 'Cherries', 'Banana', 'Pineapple', 'oranges', 'Apple']}

In [ ]:
d1['bike'] = "Interceptor"
print(d1)

{'Name': 'Zenvius', 'age': 28, 'education': 'B.tech', 'fruits': ['Mango', 'Cherries', 'Banana', 'Pineapple', 'oranges', 'Apple'], 'bike': 'Interceptor'}

In [ ]:
#We are not using any replace and insert methods in dictionary
#if the key name exits the value gets replaced other wise if the key name doesn't exit a new:value pair  is added.

In [ ]:
#how can we delete or remove items in a dictionary?
d1 = {
    "Name":"shahul",
    "age" : 28,
    "education" : "Matsers in Ds",
    "education" : "B.tech",
    "fruits" : ['Mango','Cherries','Banana','Pineapple','oranges','Apple']
}

#delete fruits from above dict
d1.pop('fruits')
print(d1)

{'Name': 'shahul', 'age': 28, 'education': 'B.tech'}

In [ ]:
d1 = {
    "Name":"shahul",
    "age" : 28,
    "education" : "Matsers in Ds",
    "education" : "B.tech",
    "fruits" : ['Mango','Cherries']
}

In [ ]:
#insert kiwi in to fruits of list
d1['fruits'][1:2] = 'kiwi'
print(d1)

{'Name': 'shahul', 'age': 28, 'education': 'B.tech', 'fruits': ['Mango', 'kiwi']}

In [ ]:
#insert method
d1['fruits'].insert(2,'lemon')
print(d1)

{'Name': 'shahul', 'age': 28, 'education': 'B.tech', 'fruits': ['Mango', 'kiwi', 'lemon']}

In [ ]:
#Append Method
d1['fruits'].append('cherry')
print(d1)

{'Name': 'shahul', 'age': 28, 'education': 'B.tech', 'fruits': ['Mango', 'kiwi', 'lemon', 'cherry']}

In [ ]:
d1['fruits'][1] = ['kiwi',"drygrapes",'grapes','orange']
print(d1)

{'Name': 'shahul', 'age': 28, 'education': 'B.tech', 'fruits': ['Mango', ['kiwi', 'drygrapes', 'grapes', 'orange'], 'lemon', 'cherry']}

In [ ]:
d3={'Name': 'shahul',
    'age': 28,
    'education': 'B.tech',
    'fruits': ['Mango', ['kiwi', 'drygrapes', 'grapes', 'orange'], 'lemon', 'cherry']}

In [ ]:
d3.pop("fruits")

['Mango', ['kiwi', 'drygrapes', 'grapes', 'orange'], 'lemon', 'cherry']

In [ ]:
del d3['age']

In [ ]:
d3.clear()

In [ ]:
print(d3)

{}

In [ ]:
d4= {'Name': 'shahul',
     'age': 28,
     'education': 'B.tech',
     'fruits': ['Mango', 'kiwi', 'lemon']}

#print only keys from dictionary
print(d4.keys())
#print only items
print(d4.items())
#print only values
print(d4.values())

dict_keys(['Name', 'age', 'education', 'fruits'])
dict_items([('Name', 'shahul'), ('age', 28), ('education', 'B.tech'), ('fruits', ['Mango', 'kiwi', 'lemon'])])
dict_values(['shahul', 28, 'B.tech', ['Mango', 'kiwi', 'lemon']])

In [ ]:
#working with loops in dictionary
for x in d4.keys():
  print(x)

Name
age
education
fruits

In [ ]:
for x in d4:
  print(x)

Name
age
education
fruits

In [ ]:
#print only values in separate line.
for x in d4.values():
  print(x)

shahul
28
B.tech
['Mango', 'kiwi', 'lemon']

In [ ]:
for x in d4.items():
  print(x)

('Name', 'shahul')
('age', 28)
('education', 'B.tech')
('fruits', ['Mango', 'kiwi', 'lemon'])

In [ ]:
#print key value pairs in separate line?
for x in d4.keys():
  print(f'{x}:{d4[x]}')

Name:shahul
age:28
education:B.tech
fruits:['Mango', 'kiwi', 'lemon']

In [ ]:
#from above o/p how can we access the elements
print(l2[7])

[10, 20, 30, 40]

In [ ]:
x = int(input())
free = 100
if x <= free:
  print("No Charges")
elif x > 101 and x <= 200:
  print((x-free)*5)
elif x > 201:
  print(((x -free)*10)-500)
else:
  print("you have entered wrong values")

400
2500

In [ ]:
# print(300*10)
# print(100*5)
print(200*10)
2500

2000

In [ ]:
#350
#100---0
# print(250*10) #---->2500
print(100*5) #-----500
print(150*10)#------>1500

2500

In [ ]:
print(322*10)

3220

In [ ]:
print(100*5)
print(222*10)

500
2220

#Functions

In [ ]:
#what is a function?
#function is a block of code which only runs when it is called.
print("hello")
print(len("hello"))
print(type("hello"))

hello
5
<class 'str'>

In [ ]:
#How to create the function and how to call the function?
#to crteate the function use keyword called "def"
def f1():
  print("hello world")
  print("this is runing with a function")
  print("=======================")

#call this function
f1()

hello world
this is runing with a function
=======================

In [ ]:
def zenvius_welcome():
  print("hello good morning")
  print("This is your module 2")
  print("please practice your sessions")
#call the function
zenvius_welcome()

hello good morning
This is your module 2
please practice your sessions

In [ ]:
#what is parameter?
#what is argument?
#what is diff between parameter and argument?

**parameter**

**Argument**

In [ ]:
#what is parameter?
#creating a varaible when your defining a function is known as parameter
def details(name,Age,Gender,education):
  print(f'hello  iam {name}, and my age is {Age}, my gender is {Gender},I have done my masters in {education}')
#call this function
Name = input("enter your name: ")
Age = int(input("enter your age: "))
Gender = input("enter your gender: ")
education = input("enter your degree: ")
#what is argument?
#calling the function with certain values is known as arguments.
details(Name,Age,Gender,education)

enter your name: shahul
enter your age: 28
enter your gender: male
enter your degree: ds
hello  iam shahul, and my age is 28, my gender is male,I have done my masters in ds

In [ ]:
def details(name,Age,Gender,education):
  print(f'hello  iam {name}, and my age is {Age}, my gender is {Gender},I have done my masters in {education}')
#call this function
details("zenvius",1.5,"none","ds")
#Note:- It is important to give or to call function with same number of arguments when you have defined function with specific number of parameters.
# call function--> No. of parameters == N0. 0f arguments

hello  iam zenvius, and my age is 1.5, my gender is none,I have done my masters in ds

In [ ]:
#what do i do when i don't know how many parameters do i need to pass?
def f2(**name):
  for x in name:
    print(f'hello, {x} !')
  print("===============")
f2(Name = "python",last_name = "programming lanbguage")

hello, Name!
hello, last_name!
===============

In [ ]:
def f2(**name):
  for x,y in name.items():
    print(f'{x} = {y} ')
  print("===============")
# f2(Name = "python",last_name = "programming lanbguage")
f2(name = 'java',last_name = "programming lanbguage",Mobile=995907865)

name = java
last_name = programming lanbguage
Mobile = 995907865
===============

In [ ]:
print(10,20,30,40, sep="\n")

10
20
30
40

In [ ]:
def f3(name,age,gender):
  print(name,age,gender, sep="\n")
f3("shahl",28,"M")

shahl
28
M

In [ ]:
#what do i have to do when you don't know how to deal with no of arguments?
def f4(*n):
  for x in n:
     print(f'hello, {x}')
f4("py","J","C++")

hello, py
hello, J
hello, C++

In [ ]:
def f4(*n):
     print(n)
f4("py","J","C++")

('py', 'J', 'C++')

In [ ]:
def f4(**n):
     print(n)
f4(Name = "Python", last_name = "language", age= 34)

{'Name': 'Python', 'last_name': 'language', 'age': 34}

In [ ]:
"""1. *--->when don't know how many arguments your giving use (*)--> arbitrary arguments(ARUGS),
and default data type for "Arugs" is "Tuple". """
"""2.**--> when you don't know how many parameters your giving use (**)-->arbitrary keyword arguments(Kwarugs)
and default datatype for "Kwarugs" is "dictionary"."""